.title-category{
    position: relative;
}

.title-category::before {
    content: '1';
    font-family: "Leky Calgria";
    font-size: 2.5em;
    position: absolute;
    top: 0;
    left: -25%;
    color: #f8d7b1;
    z-index: -1;


}

.img-shadow {
    -webkit-box-shadow: -24px -20px 0px -3px #B47A43; 
    box-shadow: -24px -20px 0px -3px #B47A43;
}