
    
.form {
    text-align: center;
    padding: 2em;
}

.form-login {
    background-color: #fff;
    border: 1px solid #291108;
    max-width: 500px;
    min-height: 500px;
    -webkit-box-shadow: -24px -20px 0px -3px #B47A43; 
    box-shadow: -24px -20px 0px -3px #B47A43;

}

.form .MuiFormControl-root{
    width: 100%;
    max-width: 800px;
    margin: 1.25em 0;
}

.MuiTabs-root.tabs {
    border-bottom: 1px solid #b47a43;
}

.MuiTabs-root.tabs .MuiTab-root.Mui-selected{
    border-radius: 10px 10px 0 0;
    background: #b47a43;
    color: #FFF8ED;
}

.MuiTabs-root.tabs .MuiTabs-indicator{
    background-color: #b47a43;
}