.modal {
position: absolute;
    top: 0;
    left: 0;
}

.modal .MuiBackdrop-root{
    background-color: rgb(41 17 8 / 75%);
}

.modal-body{
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(0, -50%);
    width: 90% !important;
    background-color: #f8f4ef;
    margin-left: 0 !important;

}


.modal-body-bg{
    position: absolute;
    top: 30%;
    left: 5%;
    transform: translate(0, -50%);
    width: 90% !important;
    background-color: #f8f4ef;
    margin-left: 0 !important;

}



@media (min-width: 500px) {
    .modal-body{
        position: absolute;
        top: 30% !important;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90% !important;
        background-color: #f8f4ef;
        max-width: 500px;
        padding: 2em;
    }
    
  }

  @media (min-width: 1200px) {
    .modal-body-bg{
        position: absolute;
        top: 30% !important;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90% !important;
        background-color: #f8f4ef;
        max-width: 1200px;
        padding: 2em;
    }
    
  }
    
    
.form {
    text-align: center;
    padding: 2em;
}

.form-login {
    background-color: #fff;
    border: 1px solid #291108;
    max-width: 500px;
    min-height: 500px;
    -webkit-box-shadow: -24px -20px 0px -3px #B47A43; 
    box-shadow: -24px -20px 0px -3px #B47A43;

}

.form .MuiFormControl-root{
    width: 100%;
    max-width: 800px;
    margin: 1.25em 0;
}

