.form {
    text-align: center;
    padding: 2em;
}

.form-login {
    background-color: #fff;
    border: 1px solid #291108;
    max-width: 500px;
    min-height: 500px;
    -webkit-box-shadow: -24px -20px 0px -3px #B47A43; 
    box-shadow: -24px -20px 0px -3px #B47A43;

}

.form .MuiFormControl-root{
    width: 100%;
    max-width: 800px;
    margin: 1.25em 0;
}
