@font-face {
  font-family: 'Afterglow', cursive;
  src: local('Afterglow'), url(../fonts/afterglow-regular.woff) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Leky Calgria';
  src: local('Leky Calgria'), url(../fonts/Leky-Calgria.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

body {
  margin: 0;
  height: 100vh;
}

.MuiTypography-root.small {
  font-size: 0.9em;
}

a {
  text-decoration: none;
}

a,
a:hover,
a:visited {
  color: inherit;
  cursor: pointer;
}

a:hover,
a:active {
  opacity: 0.8;
}

a.link-img {
  display: inline-block;
}

a.link-sm {
  font-size: 0.9em;
}

a.underline {
  text-decoration: underline;
}

hr {
  border-top: 1px solid;
  border-bottom: none;
}

.img-responsive {
  width: 100%;
}

.img-arc {
  border-radius: 50% 50% 0 0;
}

.img-shadow {
  -webkit-box-shadow: -24px -20px 0px -3px #b47a43;
  box-shadow: -24px -20px 0px -3px #b47a43;
}

.img-shadow.light {
  -webkit-box-shadow: -24px -20px 0px -3px #f8d7b1;
  box-shadow: -24px -20px 0px -3px #f8d7b1;
}

.MuiPaper-rounded.container-paper {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.padding-top {
  padding-top: 2em;
}

.padding-top-sm {
  padding-top: 1em;
}

.padding-bottom {
  padding-bottom: 2em;
}

.padding-bottom-lg {
  padding-bottom: 3em;
}

.padding {
  padding: 2em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex.row {
  flex-flow: row wrap;
}

.flex.column {
  flex-flow: column wrap;
}

.flex-grow.MuiGrid-item.MuiGrid-root {
  flex-grow: 1;
}

.b-radius,
.b-radius.MuiPaper-root,
.MuiButton-root.b-radius {
  border-radius: 32px;
}

.b-radius-sm,
.b-radius-sm.MuiPaper-root {
  border-radius: 10px;
}

.MuiButton-root.btn {
  min-width: 200px;
  padding: 10px;
  font-weight: bold;
}

.MuiButton-root.MuiButton-outlinedInfo.btn:hover,
.MuiButton-root.MuiButton-outlinedInfo.btn:active {
  background-color: rgb(41 17 8 / 36%);
}

.MuiButton-root.btn.btn-lg {
  min-width: 300px;
  padding: 20px;
}

.MuiButton-root.btn.btn-lg.btn-100 {
  width: 100%;
}

@media (max-width: 900px) {
  .MuiButton-root.btn.btn-lg.btn-checkout {
    min-width: 100%;
  }
}

.MuiButtonGroup-root .btn {
  padding: 20px;
  min-width: 50%;
}

.hero-container {
  padding: 2em;
}

.background-box {
  position: absolute;
  width: 35%;
  height: 100vh;
  max-height: 800px;
  top: 0;
  z-index: -1;
}

.background-box.right {
  right: 0;
}

.background-box.left {
  left: 0;
}

@media (min-width: 1200px) {
  .hero-container {
    min-height: 50vh;
  }
}

.hidden {
  visibility: hidden;
}

@media (min-width: 600px) {
  .text-column {
    column-count: 2;
    column-gap: 2em;
  }
}
