.product-card .MuiButtonBase-root:hover .MuiTypography-root,  .product-card .MuiButtonBase-root:active .MuiTypography-root{ 
    color: #b47a43;
}

.card-actions.MuiButtonBase-root {
    position: relative;
}

.card-actions.MuiButtonBase-root .MuiChip-root{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.MuiRadio-root.Gold .MuiSvgIcon-root{
 background: linear-gradient(rgb(200, 177, 139) 0%, #fce2b9 100%);
 color: transparent;
 border-radius: 100%;
}

.MuiRadio-root.Silver .MuiSvgIcon-root{
    background: linear-gradient(rgb(196, 196, 196) 0%, rgb(224, 224, 224) 100%);
    color: transparent;
    border-radius: 100%;
}

.MuiRadio-root.Mui-checked .MuiSvgIcon-root{
    color: rgba(41, 17, 8, 0.25) !important;
}

.carousel .MuiTypography-root{
    color: #FFF8ED;
}

img.selected {
    border: 2px solid #533731;
}

.MuiGrid-root.pdp-info {
    max-width: 600px;
    margin: 0 auto;
}

.price {
    position: relative;
}

.price::before {
    content: '2';
    font-family: "Leky Calgria";
    font-size: 5em;
    position: absolute;
    transform: translate(-35%, -30%);
    color: #f8d7b1;
    z-index: -1;
}

.MuiFormGroup-root.size-option-container{
    flex-direction: row;
}

.MuiFormControlLabel-root.size-option {
    margin: 0 1em 0 0;
    padding: 10px;
    border-radius: 10px

}

.MuiFormControlLabel-root.size-option .MuiRadio-root{
    display: none;

}

.MuiFormControlLabel-root.size-option.selected {
    border: 2px solid;
    
}