.product-card .MuiButtonBase-root:hover .MuiTypography-root,  .product-card .MuiButtonBase-root:active .MuiTypography-root{ 
    color: #b47a43;
}

.MuiRadio-root.Gold .MuiSvgIcon-root{
 background: linear-gradient(rgb(200, 177, 139) 0%, #fce2b9 100%);
 color: transparent;
 border-radius: 100%;
}

.MuiRadio-root.Silver .MuiSvgIcon-root{
    background: linear-gradient(rgb(196, 196, 196) 0%, rgb(224, 224, 224) 100%);
    color: transparent;
    border-radius: 100%;
}

.MuiRadio-root.Mui-checked .MuiSvgIcon-root{
    color: rgba(41, 17, 8, 0.25) !important;
}

.carousel .MuiTypography-root{
    color: #FFF8ED;
}

img.selected {
    border: 2px solid #533731;
}

.MuiGrid-root.pdp-info {
    max-width: 600px;
    margin: 0 auto;
}

.price {
    position: relative;
}

.price::before {
    content: '2';
    font-family: "Leky Calgria";
    font-size: 5em;
    position: absolute;
    top: -150%;
    left: -150%;
    color: #f8d7b1;
    z-index: -1;
}